.Cart {
    margin: 1.5rem;
    padding: 0.5rem;
    background-color: #61DAFB;
    border-radius: 10px;
    border: 1px solid ;
    border-color: #282c34;
}

.CartText {
    padding: 0.5rem;
}

.listeleYatay {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
}