.Cart {
    padding: 0.5rem;
    background-color: #282c34;
    border-radius: 10px;
}

.CartText {
    padding: 0.5rem;
}

.listeleYatay {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
}